[submodule "bgfx"]
	path = bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "bx"]
	path = bx
	url = https://github.com/bkaradzic/bx.git
[submodule "chibi-scheme"]
	path = chibi-scheme
	url = https://github.com/ashinn/chibi-scheme.git
[submodule "third/glm"]
	path = third/glm
	url = https://github.com/g-truc/glm
